<p id="notice"><%= notice %></p>

<h1>Survivors</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @survivors.each do |survivor| %>
      <tr>
        <td><%= survivor['id'] %></td>
        <td><%= survivor['name'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
