<p id="notice"><%= notice %></p>
<div class="container">
  <div class="body-template">
    <h1> How are you? </h1>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% @survivors.each do |survivor| %>
            <tr>
              <td><%= survivor['id'] %></td>
              <td><%= survivor['name'] %></td>
              <td><a href="survivors/<%=survivor['id']%>">Conectar</a></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
